body {
    font-family: sans-serif;
    color: white;

    background-color: #252525;
}

* {
    box-sizing: border-box;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1 {
    margin-bottom: 0px;
    text-align: center;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* URL Display design */
#fullURL {
    width: 82%;
    height: 50px;
    font-size: 25px;
    
    border: #2e2e2e 2px solid;
    border-radius: 10px 10px 0px 0px;

    text-align: center;
    line-height: 25px;

    background-color: #2a2a2a;
}

.button-display {
    width: 84%;
    margin-top: -10px;

    display: flex;
    
}

button[type=submit] {
    height: 50px;
    width: 33.3%;


    font-size: 20px;
    font-weight: bold;
    color: white;

    border: #2e2e2e 2px solid;
    background-color: #383838;
}

button[type=submit]:hover {
    cursor: pointer;
    background-color: #464646;
}



.convert-next {
    /*background-color: #3293ee;*/
    background-color: #383838;
    float: left;

    
    border-radius: 0px 0px 0px 10px;
}


.view-all {
    float: center;
}

.copy-link {
    background-color: #32ee5a;
    float: right;

    border-radius: 0px 0px 10px 0px;
}